
## <summary>policy for hibera</summary>


########################################
## <summary>
##	Transition to hibera.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hibera_domtrans',`
	gen_require(`
		type hibera_t, hibera_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hibera_exec_t, hibera_t)
')


########################################
## <summary>
##	Execute hibera server in the hibera domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hibera_initrc_domtrans',`
	gen_require(`
		type hibera_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, hibera_initrc_exec_t)
')


########################################
## <summary>
##	Search hibera lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hibera_search_lib',`
	gen_require(`
		type hibera_var_lib_t;
	')

	allow $1 hibera_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read hibera lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hibera_read_lib_files',`
	gen_require(`
		type hibera_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, hibera_var_lib_t, hibera_var_lib_t)
')

########################################
## <summary>
##	Manage hibera lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hibera_manage_lib_files',`
	gen_require(`
		type hibera_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, hibera_var_lib_t, hibera_var_lib_t)
')

########################################
## <summary>
##	Manage hibera lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hibera_manage_lib_dirs',`
	gen_require(`
		type hibera_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, hibera_var_lib_t, hibera_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a hibera environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`hibera_admin',`
	gen_require(`
		type hibera_t;
		type hibera_initrc_exec_t;
		type hibera_var_lib_t;
	')

	allow $1 hibera_t:process { ptrace signal_perms };
	ps_process_pattern($1, hibera_t)

	hibera_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 hibera_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, hibera_var_lib_t)

')

